<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col col-md-8">
      <input type="text" size="100" placeholder="Input your text here" [(ngModel)]="inputData">
    </div>
    <div class="col col-md-2">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Send</button>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col col-md-6">
      <textarea placeholder="Output XML" cols="65" rows="25" [value]="resultXML"></textarea>
    </div>
    <div class="col col-md-6">
      <textarea placeholder="Output CSV" cols="50" rows="5" [value]="resultCSV"></textarea>
    </div>
  </div>
</div>
